#fel {
    display: inline-block;
    height: 8vh;
}

#tartalom {
    h3 {
        margin-bottom: 0.5em;
    }
}

#jo-valaszok {
    display: none;

    ul {
        list-style-position: inside;
    }
}

#gyakorlo {
    display: flex;
    min-height: 88vh;
}

#bal-keret {
    width: 60%;
}

#jobb-keret {
    width: 40%;
}

#keret {
    border: 1px solid $keretSzurke;
    height: 200px;
    width: 200px;
}
