// Betűtípus
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$poppins: 'Poppins', sans-serif;

// Színek
$alsoButton: #be0000;
$bodySzurke: #222222;
$containerSzurke: #363636;
$felsoButton: #302e92;
$forrasKek: #1e1cb8;
$fustFeher: whitesmoke;
$input: #00000010;
$keretSzurke: #c2c2c21a;
$liSzurke: #696969;
$navSzurke: #0f0f0f;
$parosP: #646464;
$paratlanP: #161616;
$tartoSzurke: #575757;
$valaszDtLink: #0205b9;
$valaszDtSzurke: #dbdbdb;
$valaszKek: #7fe3fc;
$valaszSzurke: #2b2b2b;
