@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#fel {
  display: inline-block;
  height: 8vh;
}

#tartalom h3 {
  margin-bottom: 0.5em;
}

#jo-valaszok {
  display: none;
}
#jo-valaszok ul {
  list-style-position: inside;
}

#gyakorlo {
  display: flex;
  min-height: 88vh;
}

#bal-keret {
  width: 60%;
}

#jobb-keret {
  width: 40%;
}

#keret {
  border: 1px solid rgba(194, 194, 194, 0.1019607843);
  height: 200px;
  width: 200px;
}

.link-nelkul p {
  padding: 0.5em;
}

.feladat {
  background-color: #1e1cb8;
  /* background-color: #3f3f3f; */
  border-radius: 3px;
  margin: 0.5em 0px;
  padding: 0.5em;
}

.forras {
  background-color: #1e1cb8;
  /* background-color: #3f3f3f; */
  border-radius: 3px;
  margin: 0.5em 0px;
  padding: 0.5em;
}
.forras a {
  color: whitesmoke;
}

.feladat p {
  text-align: justify;
}

.feladat-lista {
  text-decoration: underline;
}

.keret {
  border: 1px solid rgba(194, 194, 194, 0.1019607843);
  height: 200px;
  width: 200px;
}

.torles {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
}
.torles button {
  height: 40px;
  margin-bottom: 0px;
  padding: 5px;
}

nav {
  align-items: center;
  background-color: #0f0f0f;
  display: flex;
  font-size: 2em;
  height: 7vh;
  justify-content: space-between;
  padding-left: 1em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
nav a {
  color: whitesmoke;
}

.container {
  background-color: #363636;
  border-radius: 10px;
  padding: 1em 1em;
  position: relative;
  margin: 0vh auto 1em;
  width: 80%;
}
.container::before {
  background-image: linear-gradient(to right, red, blue);
  border-radius: 10px;
  content: "";
  height: calc(100% + 10px);
  left: -5px;
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
  z-index: -1;
}
.container h1,
.container h2 {
  padding: 0.5em;
}
.container ol {
  list-style-type: none;
}
.container ol li {
  background-color: #696969;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000;
  margin-bottom: 0.5em;
}
.container ol li a {
  color: whitesmoke;
  display: inline-block;
  padding: 0.5em;
  width: 100%;
}

.belso-container {
  background-color: #575757;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #fff;
  margin-bottom: 1em;
  padding: 0.5em;
}

.valasz {
  /* background-color: #cc0303; */
  background-color: #2b2b2b;
  border-radius: 3px;
  margin: 0.5em 0px;
  padding: 0.5em;
}
.valasz p {
  border-radius: 3px;
  margin-top: 0.5em;
  text-align: justify;
}
.valasz p:nth-of-type(even) {
  background-color: #646464;
}
.valasz p:nth-of-type(odd) {
  background-color: #161616;
}
.valasz p a {
  color: #7fe3fc;
  display: inline-block;
  padding: 0.5em;
  width: 100%;
}
.valasz h3 {
  padding: 0.5em;
}
.valasz dl {
  color: #000;
  border-radius: 3px;
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: justify;
}
.valasz dl dt {
  background-color: #dbdbdb;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 0.5em;
}
.valasz dl dt a {
  color: #0205b9;
  display: inline-block;
  padding: 0.2em;
  width: 100%;
}

.tarto {
  background-color: #575757;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #ffffff;
  margin-bottom: 1em;
  padding: 1em;
  margin: auto;
  min-height: 75vh;
}

.kep {
  margin: 0.5em 0px;
  width: 50%;
  transition: 2s;
  transition-timing-function: linear;
}
.kep img {
  max-width: 100%;
  /* width: 800px; */
}

#felso-gombok {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
#felso-gombok button {
  background-color: #302e92;
  box-shadow: 2px 2px 2px black;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  padding: 5px;
}

#also-gombok {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
#also-gombok button {
  background-color: #be0000;
  box-shadow: 2px 2px 2px black;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  padding: 5px;
}

form {
  margin-bottom: 1em;
}

input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  outline: none;
  font-family: "Poppins", sans-serif;
  height: 2.5em;
  font-size: 1em;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  height: 2.5em;
  margin-bottom: 1em;
  margin-right: 1em;
  outline: none;
  width: 200px;
}

button {
  background-color: dodgerblue;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  height: 2em;
  margin-bottom: 1em;
  padding: 5px;
}

input[type=radio],
input[type=checkbox] {
  accent-color: rgb(0, 211, 0);
  height: 13px;
  margin-top: 15px;
  margin-right: 5px;
}

td {
  height: 3em;
}
td:nth-child(3) {
  width: 300px;
}
td:nth-child(3) input {
  width: 300px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #222222;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  color: whitesmoke;
  padding-right: 1em;
}

@media screen and (max-width: 1300px) {
  #gyakorlo {
    display: block;
    min-height: 88vh;
  }
  #bal-keret {
    width: 100%;
  }
  #jobb-keret {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 95%;
    margin: 0vh auto 1em;
  }
  .kep {
    width: 100%;
  }
  .tarto img {
    max-width: 100%;
  }
  .hosszu {
    overflow: auto;
  }
}

/*# sourceMappingURL=stilus.css.map */
